.container{
    min-width: 100%;
    min-height: 100vh;
    background-image: url("../../../assetts/home-testimonial-banner.png");
    padding: 0 10%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.topContainer > h1, .bottomContainer > h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 32px;
}
.topContainer > h1::after, .bottomContainer > h1::after{
    content: ' ';
    width: 100px;
    display: block;
    margin-top: 16px;
    height: 3px;
    background-color: #F11D66;
    margin-left: 50%;
    transform: translateX(-50%);
}

.flexedContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.flexedContainer > div{
    width: 25%;
    background-color: white;
    min-height: 300px;
    /* border: 3px solid black; */
}
.flexedContainer > div:nth-child(2n){
    transform: translateY(25%);
}
.flexedContainer >div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.30);
    padding: 20px;
    border-radius: 0.5rem;
    min-height: 100%;
}
.flexedContainer > div > div > h3{
    font-size: 1.3rem;
    padding-bottom: 10px;
    text-align: center;
}
.flexedContainer > div > div > p{
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 1140px){
    .container{
        padding: 0 5%;
    }
}

@media only screen and (max-width: 1030px){
    .container{
        padding: 0 2%;
    }
    .flexedContainer > div{
        width: 40%;
    }
    /* .flexedContainer > div:nth-child(2n){
        transform: translateY(25%);
    } */
}

@media only screen and (max-width: 768px){
    .container{
        padding: 0 2% 60px 2%; 
    }
    .flexedContainer{
        flex-direction: column;
    }
    .flexedContainer > div{
        width: 80%;
    }
    .flexedContainer > div:nth-child(2n){
        transform: translateY(0%);
    }
}