.container{
    min-width: 100%;
    min-height: 100vh;
    background-image: url("../../../assetts//contact-main-background.jpg");
    background-size: cover;
    background-position: center;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addressContainer{
    /* background-color: white;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    padding: 60px; */
}

.addressContainer > h1::after{
    content: ' ';
    width: 100px;
    display: block;
    margin: 16px 0;
    height: 3px;
    background-color: #F11D66;
}
.addressContainer > ul > li{
    color: #6A7C92;
    padding: 18px 0;
}
.addressContainer > ul > li > a{
    display: flex;
    align-items: center;
    line-height: 1.8rem;
}
.addressContainer > ul > li > a > span{
    padding-left: 2rem;
}

.formContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    width: 50%;
    /* height: 60vh; */
    padding: 2rem 3rem;
}
.formContainer > h2{
    padding-bottom: 2rem;
}
.formContainer > input{
    margin-bottom: 2rem;
    background-color: #F3F5FD;
    padding: 14px 20px;
    font-size: 1.1rem;
    color: #6A7C92;
    border: none;
    outline: none;
    border-radius: 6px;
}
.formContainer > input:focus{
    border: none;
    outline: none;
    border-radius: 6px;
}
.formContainer > textarea{
    margin-bottom: 2rem;
    background-color: #F3F5FD;
    padding: 14px 20px;
    font-size: 1.1rem;
    color: #6A7C92;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 100px;
    border-radius: 6px;
}
.formContainer > textarea:focus{
    border: none;
    outline: none;
    border-radius: 6px;
}
.formContainer > button{
    background: linear-gradient(to right, #fa897d 0%, #fe5f88 100%);
    border: none;
    color: white;
    width: 200px;
    /* min-width: 100px; */
    height: 50px;
    font-size: 1.5rem;
    border-radius: 6px;
}

@media only screen and (max-width: 1100px){
    .container{
        padding: 0 5%;
    }
}

@media only screen and (max-width: 972px){
    .container{
        padding: 0 2%;
    }
}
@media only screen and (max-width: 768px){
    .container{
        padding: 60px 2%;
        flex-direction: column;
    }
    .addressContainer{
        width: 100%;
    }
    .formContainer{
        margin-top: 60px;
        width: 100%;
    }
}